* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  text-align: center;
}
.box-title {
  color: rgb(6, 6, 97);
}
.box-decoration {
  color: orange;
}
img {
  width: 400px;
  height: 400px;
}
.box-title1 {
  color: rgb(65, 87, 215);
}
.box-decoration1 {
  color: rgb(6, 6, 97);
}
